@import "./typography/fonts/_lato.scss";
@import "./colors/_zero-palette.scss";
@import "./typography/_cursor.scss";
@import "./typography/_typography.scss";
@import "./components/_button.scss";

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}