.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.why {
    content: "do?"
}

.heee{
    display: inline;
}