$primary: #6e41e2;
$primary-hover: #5835b0;
$primary-active: #472c8a;
$disabled: #e3daf9;
$white: #ffffff;
$white-s: rgba(255, 255, 255, 0.88);
$gray-m: #fafafa;
$gray-l: #f1f1f1;
$gray-s: #d4d4d4;
$gray: rgba(212, 212, 212, 0.48);
$gray-k: #6b6b6b;
$black: #111;
$red-girl: #f9e3e3;
$red-boy: #f2caca;
$danger: #db524e;
$danger-hover: #c7302b;
$danger-active: #a72924;
$green: #27a360;
$blue: #428bf9;
