// Theme's Styles
@import("C:/Users/Otabek Sadiridinov/Desktop/zero/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("C:/Users/Otabek Sadiridinov/Desktop/zero/docs/.vuepress/styles/index.styl")